/* Add CSS Styling */
.odd {
    background-color: #fa8072;
    font-style: Verdana, DejaVu sans, sans-serif;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

.odd.cooler {
    font-size: 24px;
}

#four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}