body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  height: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 30px 10px 20px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 20px 15px 15px;
  margin: 20px 10px;
  font-size: 30px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  padding: 45px 250px;
}

button {                      
  display: block;
  height: 70px;
  width: 300px;
  background: white;
  border: 1px solid #eee;
  padding: 10px 30px;
  font-size: 30px;
}